/*BEGIN PS4 Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    /* The background image is basically the base for the controller's skin. The
    PS4 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites.*/
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/base.png);
    height: 598px;
    width: 806px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/disconnected.png);
}
/* This hides the controller's button when disconnected so only the background image remains */
.custom.disconnected div {

    display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}
.custom .trigger{/* These are the actual triggers themselves */
    width: 99px;
    height: 100%;
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/triggers.png);
    opacity: 0;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element
above to achieve the desired position. */
.custom .trigger.left{
    float: left;
}
.custom .trigger.right{
    float: right;
    background-position-x: 99px;
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */
.custom .bumper{
    width: 99px;
    height: 23px;
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/bumper.png) no-repeat;
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    transform: rotateY(180deg);
}
.custom .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}
.custom .touchpad.pressed {
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/svg/touchpad.svg) no-repeat center;
}
.custom .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}
.custom .meta.pressed {
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/meta.png) no-repeat center;
}
.custom .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/start.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}
.custom .back{
    float: left;
    /* width: 28px; */
}
.custom .start{
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/face.png);
}
.custom .button.pressed{
    background-position-y: 55px;
    /* margin-top: 5px; */
}
.custom .a{
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}
.custom .b{
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}
.custom .x{
    background-position: -113px 0;
    top: 58px;
}
.custom .y{
    background-position: 55px 0;
    left: 58px;
}
/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies
the CSS inline. */
.custom .sticks{
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}
.custom .stick{
    position: absolute;
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/sticks.png);
    height: 94px;
    width: 94px;
}
.custom .stick.pressed.left{
    background-position-x: -96px;
}
.custom .stick.pressed.right{
    background-position-x: -192px;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}
/*This makes no sense but yeah, it's the dpad file which is used here*/
.custom .face{
    background: url(https://raw.githubusercontent.com/BobbyTheo/CustomControllerPS4/master/img/dpad.png);
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 36px;
    height: 52px;
}
.custom .face.left, .custom .face.right{
    width: 52px;
    height: 36px;
}
.custom .face.up{
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}
.custom .face.down{
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}
.custom .face.left{
    top: 45px;
    left: 0;
    background-position: 104px 0;
}
.custom .face.right{
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}
.custom .face.pressed{
    /* margin-top: 5px; */
    background-position-y: 52px;
}

/*END PS4 Controller Styling*/
